/*Typography*/
@font-face { font-family: "Neou-Bold"; src: url('Neou-Bold.tff'); } 

body {
      font-family: 'Open Sans', sans-serif;
      background: url("../img/whitey.png");
}
h1{
	color:#45B29D;
	font-family: "myriad pro", sans-serif;
	font-size: 2.5em;
}

h2{
	color:#DF5A49;
	font-family: "myriad pro", sans-serif;
	font-size: 2.2em;
}
h3{
	color:#45B29D;
	font-family: "Neou-Bold", sans-serif;
}

/*Margin & Padding */
h2, h3{
	margin: 10px 0;
}
p{
	margin:0 10px 10px 0;
}

/*Link States*/
a:link,
a:visited{
	text-decoration: none;
	color:#45B29D;
}
a:hover,
a:active{
	text-decoration: none;
	color:#DF5A49;
}

/*Color Pallete*/
.color-1{
	background: #45B29D;

}
.color-2{
	background: #DF5A49;
	
}
.color-3{
	background: #666;
}
.color-4{
	background: #334D5C;
}

/*Textures*/

.pattern-1{
	background: url("../img/whitey.png");
	
}
.pattern-2{
	background: url("../img/bg2.png");
	}

.pattern-3{
	background: url("../img/layout-1.png");
	}	

img[src*="design_logo"] {
width:25%
}
/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 75px;
	width: 75px;
}

.color-1:hover,
.color-2:hover,
.color-3:hover,
.color-4:hover,
.pattern-1:hover,
.pattern-2:hover,
.pattern-3:hover {
	opacity:.5;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

/*RWD*/
.container{
width:90%;
}

section p{
	width:75%;
}

