/*Typography*/
@font-face { font-family: Neou-Thin; src: url('Neou-Thin.tff'); } 

body {
      font-family: 'Open Sans', sans-serif;
}
h1{
	color:#45B29D;
	font-family: "Neou-Thin", sans-serif;
}

h2{
	color:#DF5A49;
	font-family: "Neou-Thin", sans-serif;
}
h3{
	color:#45B29D;
	font-family: "Neou-Thin", sans-serif;
}
/* Set Your Own Margin & Padding */
h2, h3{
	margin: 0;
}
p{
	margin:0 0 10px 0;
}
a{
	border-bottom: 4px dotted red;
	text-decoration: none;
}

/*Color Pallete*/
.color-1{
	background: #45B29D;

}
.color-2{
	background: #DF5A49;
	
}
.color-3{
	background: #EFC94C;
}
.color-4{
	background: #334D5C;
}
/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}